.App {
  /* text-align: center; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 100vh;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: roboto-oh5,sans-serif;
  font-size: 14px;
  line-height: 1.65;
  color: #231f20;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  margin: 0;
}

.left-side_panel {
  width: 305px;
  background: #fff;
  -webkit-box-shadow: 0 0 20px rgb(13 62 119 / 4%);
  box-shadow: 0 0 20px rgb(13 62 119 / 4%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 100%;
  min-height: 100vh;
  display: inline-block;
}

.right-side_panel {
  width: 100%;
  background: #fafbfb;
}

.no-mw .container {
  max-width: none;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 0 35px;  
}

@media (max-width: 1669px) {

  .container {
    max-width: calc(100% - 305px);
  }
  
}

@media (max-width: 767.98px) {

  .App {
    display: block;
  }

  .container {
    max-width: none;
  }

  .left-side_panel, .nav_menu__item a {
    width: 100%;
    min-height: 0;
  }

}